* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  height: 126px;
  padding: 24px;
}

.head-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.357);
  border-radius: 12px;
  height: 78px;
}

.head-div1 {
  display: flex;
}

.link-1 {
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: capitalize;
  color: purple;
  background-color: #efebff;
  width: 122px;
  height: 46px;
  padding: 11px 27px;
  border-radius: 8px;
}

.link-1 img {
  margin-right: 8px;
}

.link-2 {
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: capitalize;
  color: gray;
  width: 187px;
  height: 46px;
  padding: 11px 27px;
  border-radius: 8px;
}

.link-2 img {
  margin-right: 8px;
}

.link-3 {
  text-transform: capitalize;
  text-decoration: none;
  border: 1px solid purple;
  border-radius: 8px;
  padding: 11px 27px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.357);
}

.link-3:active {
  box-shadow: none;
  color: purple;
  background-color: blue;
}

.body-div {
  display: flex;
  justify-content: center;
}

.div1 {
  height: 679px;
  width: 560px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 24px;
}

.div2 {
  height: 679px;
  width: 806px;
}

h1 {
  height: 48px;
  width: 728px;
  color: rgb(29, 27, 27);
  margin-left: 40px;
}

p {
  height: 24px;
  width: 728px;
  color: rgb(122, 119, 119);
  margin-left: 40px;
}
.add-div {
  height: 46px;
  width: 728px;
  border-radius: 8px;
  margin-left: 40px;
  border-color: purple;
  color: purple;
  margin-top: 40px;
  font-weight: bold;
  background-color: white;
}

.link1-div {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  height: 228px;
  width: 728px;
  border-radius: 12px;
  background-color: #d9d9d9;
  margin-left: 40px;
}
.link1-1 {
  height: 24px;
  width: 74px;
  color: gray;
  font-weight: bolder;
  text-decoration: none;
  text-transform: capitalize;
  margin-left: 20px;
  margin-top: 24px;
}

.remove {
  height: 24px;
  width: 61px;
  color: gray;
  text-decoration: none;
  text-transform: capitalize;
  margin-top: 24px;
  margin-right: 20px;
}

form {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  height: 228px;
}

select {
  height: 48px;
  width: 688px;
  color: black;
  border-radius: 8px;
  border: 1px solid darkgray;
}
